{% extends "base.html" %} 
{% block content %}
{% load static %}

<!-- start about -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><font color="#28a7e9">Awards </font></h2> 
					<p>
					Young statisticians (up to 5 years after their last academic degree) attending the 2nd Conference in Statistics and Data Science will have the possibility to compete for 
					the <strong>“Best Paper Award on Statistics and Data Science”</strong> and for the <strong>“Best Poster Award on Statistics and Data Science”</strong>. To be considered for these awards, 
					the young researcher should have completed an academic degree within five years prior to the CSDS 2019.
					<br><br>
					The paper must deal with novel and interesting contributions to theory and methodology in Statistics and Data Science, or the innovative use of methodology to address a substantive application, 
					in Statistics and Data Science. The paper must be an unpublished original work that is prepared mainly by a young researcher. Although it may have co-authors, the paper should be presented by 
					the candidate at the CSDS 2019.
					<br><br>
					If you are interested in participating in this competition, please send an extended abstract between 4 and 6 pages, your Curriculum Vitae and a cover letter, 
					to <strong>Paulo Canas Rodrigues (paulocanas@gmail.com)</strong> by October 20, 2019.
					<br><br>
					The winners will be announced at the closing session of the CSDS 2019.

					</p>
			</div>
		</div>
	</div>
	
	{% endblock %}