{% extends "base.html" %} 
{% block content %}
{% load static %}

<!-- start about -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Call for papers</span></h2> 
				<h3> <font color="#28a7e9"><strong>Submission of proposals </strong> </font></h3>
					The Scientific Program Committee of the 2nd Conference on Statistics and Data Science is now soliciting to the Brazilian and international communities suggestions for Invited Paper Sessions (IPS), 
					Short Courses and Round Tables to be considered in the scientific program of the conference.
					<br><br>
					Please submit a formal proposal before <font color="#28a7e9"><strong>September 25, 2019</strong> </font>, to the Chair of the Scientific Program Committee (Paulo Canas Rodrigues, paulocanas@gmail.com) with the following information:
					<br><br>
					<ul>
						<li><strong> Invited Paper Sessions  </strong> (90 minutes with three speakers): including title, brief description of the session and list of speakers and discussant that accepted to be 
						part of the session; </li>
						<li><strong>Short Courses </strong>  (duration between two and four hours): including title, instructor(s), summary and aims of the course; </li>
						<li><strong>Round Tables</strong> (60 minutes with at least 3 discussants): including title, aims and list of discussants that accepted to be part of this round table.</li> 
						<p>
						In this way, the Brazilian and international communities will have the chance of helping in planning the scientific program of the CSDS 2019 and in shaping future directions of Statistics and Data Science, 
						particularly in Brazil.
						</p>
				    </ul>
					<br><br>
				<h3> <font color="#28a7e9"><strong>Abstract submission</strong> </font></h3>
				The Local Organizing Committee and the Scientific Program Committee invite the Brazilian and international communities to submit abstracts to be considered for oral and poster presentation at the CSDS 2019. 
				Abstracts can be submitted online until <font color="#28a7e9"><strong>September 25, 2019</strong> </font>.
				<br><br>
				<center>
				<div class="templatemo_homewrapper">
					<a href=" https://easychair.org/conferences/?conf=csds2019 " target="_blank" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">
					<h2><font color="#ff1a1a"><strong> CLICK HERE TO SUBMIT AN ABSTRACT!</strong></font></h2></a>	
				</div>
				</center>
				<ul>
				<br>
					<h4> <font color="#28a7e9"><strong>Instructions for abstract submission:</strong> </font></h4>
					<ul>
						<li> Create an account and log in </li>
						<li> Make a "New submission" </li>
						<li> Add the information about the authors; Title of the paper; Abstract (up to 250 words); and Kewords (at least three)</li>
						<li> Select the “Type of submission”</li>
						<li> Submit.</li>
					</ul>
				<br><br>
								
				<h3> <font color="#28a7e9"><strong>General instructions:</strong> </font></h3>
				<li>All abstracts must be submitted online. No other forms of abstracts are permissible;</li>
				<li>The abstract is limited to one page;</li>
				<li>The number of oral abstract submissions with the same presenting author is limited to one;</li>
				<li>The number of abstracts submitted by a single participant is limited to two;</li>
				<li>All submitted abstracts will be reviewed by the scientific committee for the conference, and presenting authors will be informed of the status of their abstract (oral session, poster session, rejection) 
				by <font color="#28a7e9"><strong> September 30, 2019</strong> </font>;</li>
				<li>All contributed oral presentations will be allocated to a 20 minutes’ slot, including 5 minutes for discussion, within a particular scientific session.</li> 
				<li>All poster presentations will also be allocated to a particular scientific session. The posters are expected to be A0 portrait with a maximum dimension of 80cm x 120cm. Presenting authors are 
				expected to be present at their posters.</li>
				<li>All presenting authors must have registered for the conference and paid the registration fee by <font color="#28a7e9"><strong>October 20, 2019</strong> </font>, for their presentation to be included in the conference program. Please note that 
				the conference’s Early Bird Registration deadline is <font color="#28a7e9"><strong>October 15, 2019</strong> </font>.
				</li>
				</ul>
				
			</div>
		</div>
	</div>
   {% endblock %}