{% extends "base.html" %} 
{% block content %}
{% load static %}
		
<!-- star body -->		

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Committees</span></h2> 
				<h3> <font color="#28a7e9"><strong> Local Organizing Committee </strong> </font></h3>
				<ul>
				<li> <strong> Paulo Canas Rodrigues </strong> (Chair, Federal University of Bahia, Brazil) 
				<i class="fa fa-envelope-o"></i><a href='mailto:paulocanas@gmail.com'> paulocanas@gmail.com</a>
				</li>
				<li> <strong> Lizandra Fabio </strong> (Vice-Chair, Federal University of Bahia, Brazil) 
				<i class="fa fa-envelope-o"></i><a href='mailto:lizandrafabio@gmail.com'> lizandrafabio@gmail.com</a>
				</li>
				<li> <strong> Gilberto Pereira Sassi </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Jalmar Carrasco </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Murilo Martins </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Samuel Barros  </strong> (Federal University of Bahia, Brazil) </li>
				</ul>	

				<h3> <font color="#28a7e9"><strong>  Scientific Program Committee  </strong> </font></h3>
				<ul>
				<li> <strong> Paulo Canas Rodrigues </strong> (Chair; Federal University of Bahia, Brazil) 
				<i class="fa fa-envelope-o"></i><a href='mailto:paulocanas@gmail.com'> paulocanas@gmail.com</a>
				</li>
				<li> <strong> David Banks </strong> (Duke University, USA)</li>
				<li> <strong> Francisco Louzada </strong> (University of São Paulo, Brazil)</li>
				<li> <strong> Hedibert Lopes </strong> (INSPER, Brazil)</li>
				<li> <strong> Jalmar Carrasco </strong> (Federal University of Bahia, Brazil)</li>
				<li> <strong> Katherine D. Ensor </strong> (Rice University, USA)</li>
				<li> <strong> Lizandra Fábio </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Luciano Rebouças de Oliveira </strong> (DCC, Federal University of Bahia, Brazil) </li>
				<li> <strong> Moncef Gabbouj </strong> (Tampere University, Finland)</li>
				<li> <strong> Narayanaswamy Balakrishnan  </strong> (McMaster University, Canada)</li>
				<li> <strong> Patrick Groenen </strong> (Erasmus University Rotterdam, The Netherlands)</li>
				<li> <strong> Paula Brito </strong> (University of Porto, Portugal)</li>
				<li> <strong> Wing K. Fung  </strong> (University of Hong Kong, Hong Kong)</li>
				</ul>	
				
				<h3> <font color="#28a7e9"><strong>  Students  </strong> </font></h3>
				<ul>
				<li> <strong> Elisabete Sampaio </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Matheus Hofstede </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> Talita Nacimento dos Santos </strong> (Federal University of Bahia, Brazil) </li>
				<li> <strong> José Roberto Santos da Silva </strong> (Federal University of Bahia, Brazil) </li>
				
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}