{% extends "base.html" %} 
{% block content %}
{% load static %}
		
<!-- star body -->		

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>IPS and Round Tables</span></h2> 
					<h3> <font color="#28a7e9"><strong> Invited Paper Sessions </strong> </font></h3>
					<ul>  
					<li> <strong>Data Science, Communication & Democracy: methodological approaches (Nina Santos, UFRA)</strong> </li>
					<p> 
				    <ul>
					<li> Eurico Matos and Alexandre Teles (UFBA): Classification and Opinion Mining in Digital Environments: analyzing user perceptions of mobile government applications</li>
					<li> Júnia Ortiz, André Rebouças, Gustavo Nunes and Laion Boaventura (UFBA): Methodological proposal for Agenda-Setting research: using Topic Modeling to understand big social data</li>
					<li> João Guilherme Santos (UFBA): Network analysis applied to viralization of false news: applications of algorithms for classification of WhatsApp groups</li>
					<li> Lucas Reis (UFBA): Blockchain and Government Services: The State of the Art of Research and Applications</li>
					</ul>
					</p> 					
					</ul>
					<ul>  
					<li> <strong>Statistical and Data Sciences and Recent Applications (Francisco Louzada, ICMC, USP)</strong> </li>
					<p> 
				    <ul>
					<li> Anderson Ara (UFBA): Bayesian Networks: Methods and Applications</li>
					<li> Gleici da Silva Castro Perdoná (USP): A Generalized Gamma zero-Inflated cure-rate regression model applied on obstetric healthcare</li>
					<li> Francisco Louzada (ICMC, USP): Statistical and Data Sciences at CeMEAI </li>
					</ul>
					</p> 					
					</ul>
					<h3> <font color="#28a7e9"><strong> Round Tables  </strong> </font></h3>
					<ul>
					<li> <strong>The role of statistics in the Era of big data </strong> </li>
					<p>  Discussants:  
				    <ul>
					<li> Richard D. De Veaux (Williams College, USA; Vice-President of the American Statistical Association)</li>
					<li> Pedro Luis do Nascimento Silva (ENCE/IBGE, Brazil; former President of the International Statistical Institute)</li>
					<li> Denise Britz de Nascimento Silva (IBGE, Brazil; President of the International Association of Survey Statisticians)</li>
					</ul>
					</p> 
					<br>
					<li> <strong> Data science and big data in Brazil </strong></li>
					<p>  Discussants:
				    <ul>
					<li> Pedro Luis do Nascimento Silva (ENCE/IBGE, Brazil)</li>
					<li> Crysttian Arantes Paixão (Federal University of Santa Catarina, Brazil). </li>
					<li> Jalmar M F Carrasco (Federal University of Bahia, Brazil).</li>
					<li> Marcus Nunes (Federal University of Rio Grande do Norte, Brazil).</li>
					</ul>					
					</p>
					
					<br>
					<li> <strong> Some tips for effective presentations </strong></li>
					<p>  Discussants:
				    <ul>
					<li> Richard D. De Veaux (Williams College, USA; Vice-President of the American Statistical Association) </li>
					</ul>					
					</p>
										
					<br>
					<li> <strong> How to get your paper published? </strong></li>
					<p>  Discussants:
				    <ul>
					<li> Richard D. De Veaux (Williams College, USA) </li>
					<li> Francisco Louzada (ICMC, USP, Brazil) </li>
					</ul>					
					</p>			
				</ul>	
			</div>
			
			
		</div>
	</div>
			
	{% endblock %}