<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>CSDS</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/templatemo-style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>

	<body data-spy="scroll" data-target=".navbar-collapse">

		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="row">
					<div class="navbar-header">
						<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon icon-bar"></span>
							<span class="icon icon-bar"></span>
							<span class="icon icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="index.html" class="smoothScroll">Home</a></li>
							<li><a href="registrationCSDS.html" class="smoothScroll">Registration</a></li>
							<li><a href="Committees.html" class="smoothScroll">Committees</a></li>
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
								aria-expanded="false">Call for papers<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                <li><a href="Call_papers.html" class="smoothScroll"> Submission of proposals </a></li>
                                <li><a href="SOIC_Special_Issue.html" class="smoothScroll"> SOIC Special Issue</a></li>
                                </ul>
							</li>														
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
								aria-expanded="false">Scientific program<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                <li><a href="Conference_schedule.html" class="smoothScroll"> Conference schedule </a></li>
                                <li><a href="keynoteSpeakers.html" class="smoothScroll"> Keynote speakers</a></li>
								<li><a href="short_courses.html" class="smoothScroll"> Short courses </a></li>
								<li><a href="IPS_Round_Tables.html" class="smoothScroll"> IPS and Round Tables </a></li>
                                </ul>
							</li>
							<li><a href="Awards.html" class="smoothScroll">Awards</a></li>
							<li><a href="Local.html" class="smoothScroll">Local information</a></li>
							<li><a href="Venue.html" class="smoothScroll">Venue</a></li>							
							<li><a href="Contact.html" class="smoothScroll">Contact</a></li>
						</ul>
					</div>
				</div>				
			</div>
		</nav>
		<!-- end navigation -->

		<!-- start home -->
		<section id="home" class="text-center">
		  <div class="templatemo_headerimage">
		    <div class="flexslider">
				<ul class="slides">
					<li>	
					<img src="images/slider/bonfim1.png" class="w3-border w3-padding" alt="Norway">
						<div class="slider-caption">
							<div class="templatemo_homewrapper">
							  <h1 class="wow fadeInDown" data-wow-delay="2000"> Second Conference on Statistics and Data Science</h1>
							  <h2 class="wow fadeInDown" data-wow-delay="2000">
								<span >Salvador, 18-20 November, 2019</span>
							</h2>
							<p>Welcome!</p>
							<a href="registerCSDS2019.html" target="_blank" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Register now!</a>	
							</div>
						</div>
					</li>
				</ul>
		    </div>
		  </div>				
		</section>
		<!-- end home -->

		<!-- star about -->		
		<section id="about">

			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Registration CSDS 2019</span></h2>                                                  
                        <h3> <font color="#28a7e9"><strong>Registration fees</strong> </font></h3>
                        <table border = "1" width = "100%">		     
							<tbody>
								<tr>
								<td> <font> <strong> <center>  </center> </strong></font></td>
								<td> <font> <strong> <center> Cathegory  </center> </strong></font></td>
								<td> <font color="#28a7e9"> <strong> <center> Payment before 15/10/2019 </center> </strong></font></td>
								<td> <font> <strong> <center> Payment after 15/10/2019 </center> </strong></font></td>
								</tr> 
								<tr>
									<td rowspan = "3"><center> <strong>Registration fees in BRL (for Brazilians)</strong> </center> </td>
									<td> <center> Professionals (*) </center> </td>
									<td> <center> R$ 320,00</center></td>
									<td> <center> R$ 440,00</center></td>
									<td rowspan = "3"><center>  
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="LQNMDVXGHHMNU">
									<table>
									<tr><td><input type="hidden" name="on0" value="Cathegory"></td></tr><tr><td><select name="os0">
										<option value="Professionals">Professionals R$440,00</option>
										<option value="Grad students">Grad students R$280,00</option>
										<option value="Undergrad students">Undergrad students R$180,00</option>
									</select> </td></tr>
									</table>
									<input type="hidden" name="currency_code" value="BRL">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
									</form>
									</center> </td> 
								</tr>
								<tr>
									<td> <center> Grad students</center></td>
									<td> <center> R$ 180,00</center></td>
									<td> <center> R$ 280,00</center></td>
								</tr>	
								<tr>
									<td> <center> Undergrad students</center></td>
									<td> <center> R$ 130,00</center></td>
									<td> <center> R$ 180,00</center></td>
								</tr>								
								<tr>
									<td rowspan = "3"><center> <strong> Registration fees in USD (for foreigners)</strong> </center> </td>
									<td> <center> Professionals</center></td>
									<td> <center> US$ 110,00</center></td>
									<td> <center> US$ 160,00</center></td>
									<td rowspan = "3"><center>  
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="EJSEPT3FZE6AN">
									<table>
									<tr><td><input type="hidden" name="on0" value="Cathegory"></td></tr><tr><td><select name="os0">
										<option value="Professionals">Professionals $160,00 USD</option>
										<option value="Grad students">Grad students $110,00 USD</option>
										<option value="Undergrad students">Undergrad students $70,00 USD</option>
									</select> </td></tr>
									</table>
									<input type="hidden" name="currency_code" value="USD">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
									</form>
									</center> </td>
								</tr>
								<tr>
									<td> <center> Grad students</center></td>
									<td> <center> US$ 70,00</center></td>
									<td> <center> US$ 110,00</center></td>
								</tr>
								<tr>
									<td> <center> Undergrad students</center></td>
									<td> <center> US$ 50,00</center></td>
									<td> <center> US$ 70,00</center></td>
								</tr>
								<!--	
								<tr>
								<td rowspan = "3"><center> <strong>Registration fees in BRL (Members of CONRE5)</strong> </center> </td>
								<td> <center> Professionals</center></td>
								<td> <center> R$ 336,00</center></td>
								<td> <center> R$ 424,00</center></td>
								</tr>
								<tr>
									<td> <center> Grad students</center></td>
									<td> <center> R$ 180,00</center></td>
									<td> <center> R$ 288,00</center></td>
								</tr>
								<tr>
									<td> <center> Undergrad students</center></td>
									<td> <center> R$ 104,00</center></td>
									<td> <center> R$ 144,00</center></td>
								</tr>	
								<tr>
								<td rowspan = "3"><center> <strong>Registration fees in BRL (Members of ABE)</strong> </center> </td>
								<td> <center> Professionals</center></td>
								<td> <center> R$ 378,00</center></td>
								<td> <center> R$ 477,00</center></td>
								</tr>
								<tr>
									<td> <center> Grad students</center></td>
									<td> <center> R$ 207,00</center></td>
									<td> <center> R$ 324,00</center></td>
								</tr>
								<tr>
									<td> <center> Undergrad students</center></td>
									<td> <center> R$ 117,00</center></td>
									<td> <center> R$ 162,00</center></td>
								</tr>	-->							
							</tbody> 							
						</table>
						(*) Groups of professionals, working in the state of Bahia, with more than five participants will be granted a discount. Contact <font color="#28a7e9"> csds.ime@gmail.com </font> for more invormation.
						<br>
						<br>                     
    				</div>					 
				</div>
				<ul>
				 <li>The deadline for early registration <font color="#28a7e9"><strong>(October 15, 2019)</strong> </font> corresponds to the actual payment of the registration fee and not to the registration.</li>
				 <li>The registration fee will cover the conference materials, welcome drink and coffee breaks.</li>
				 <li>After <font color="#28a7e9"><strong>November 5, 2019</strong> </font>, the payment may only be made on site, by cash</li>
				 </ul>
				 	<h3> <font color="#28a7e9"><strong>PAYMENT – Bank Transfer only for Brazilians </strong> </font></h3>
						<strong> Transfer the total amount to the bank account (without expenses for the receiver): </strong>
					<ul>
					<dl>
					<dd> Bank: Banco do Brasil </dd>
					<dd> Agency: 5692-8 </dd>
					<dd> Account: 14590-4  </dd>
					<dd> Account holder:  Gilberto Pereira Sassi  </dd>
					<dd> Currency: BRL </dd>
					<dd> CPF: 229.526.358-11 </dd>
					</dl>
					</ul>	
					<strong>  Please send us a scanned copy of the bank transfer by e-mail (<font color="#28a7e9">pgto.csds@gmail.com</font>). A confirmation will be sent to you 
					by e-mail after receiving the payment and proof of payment.</strong>
					<br><br>
					<center>
					<div class="templatemo_homewrapper">
						<a href="registerCSDS2019.html" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">
						<font color="#28a7e9"><h2><strong>REGISTER</strong></h2></font></a>	
					</div>
					</center>
			</div>
    <hr>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h4> <font color="#28a7e9"><strong> SUPPORT: </strong> </font></h4>
			<a href="https://www.ufba.br" target="_blank">
			<img src="images/slider/ufba.png">
			<a href="http://ime.ufba.br/" target="_blank">
			<img src="images/slider/IM.png">
			</a>			
			<a href="https://est.ufba.br/" target="_blank">
			<img src="images/slider/Dest.png">
			</a> 
			<a href="http://www.cnpq.br" target="_blank">
			<img src="images/slider/cnpq-logo-6.png">
			</a> 			
			<a href="http://conre5.org.br/" target="_blank">
			<img src="images/slider/conre5.png">
			</a> <!--
			<a href="https://www.redeabe.org.br/site/" target="_blank">
			<img src="images/slider/logo_ABE.jpg">
			</a> -->
			<a href="https://www.amstat.org/" target="_blank">
			<img src="images/slider/ASAseal.gif">
			</a>
			<a href="http://www.capes.gov.br" target="_blank">
			<img src="images/slider/CAPES.png">
			</a> 
			<a href="http://www.capes.gov.br" target="_blank">
			<img src="images/slider/IASC_2019.png">
			</a>
			<a href="http://www.capes.gov.br" target="_blank">
			<img src="images/slider/Marca_Avansys_color.jpg">
			</a>  
			<a href="https://www.jusbrasil.com.br" target="_blank">
			<img src="images/slider/jusbrasil.png">
			</a> 
			<a href="http://www.ecd.ufba.br" target="_blank">
			<img src="images/slider/logoECD.jpg">
			</a>			
			</div>
		</div>
	</div>
	<hr>  
<footer class="container">
				<div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
					<span>
                    	
                    </span>
					<ul class="social_icon">
				    <li><a href="https://www.facebook.com/csds2019/" target="_blank" class="fa fa-facebook"></a></li>
						<!--<li><a href="#" target="_blank" class="fa fa-twitter"></a></li>
						<li><a href="#" target="_blank" class="fa fa-instagram"></a></li> -->
						<li><a href="https://goo.gl/maps/XwESQp1mmo7GmwFw9" target="_blank" class="fa fa-map-marker"></a></li>
					</ul>
				</div>
</footer>



</section>
<!-- end about -->


<!-- start javascript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.simple-text-rotator.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/templatemo-script.js"></script>
<!-- end javascript -->	

</body>	
</html>