{% extends "base.html" %} 
{% block content %}
{% load static %}
<!-- start about -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Call for papers</span></h2> 
				<h3> <font color="#28a7e9"><strong>Special Issue of the journal Statistics, Optimization & Information Computing</strong> </font></h3>
				<p>
				A Special Issue of the journal Statistics, Optimization & Information Computing will be devoted to the 2nd Conference on Statistics 
				and Data Science, Salvador, Brazil, November 18-20, 2018. This special issue will include selected papers strongly correlated to the 
				talks of the conference and within the scope of the journal.
				<br><br>
				<strong>Guest Editors: </strong> 
				<ul>
				<li>Paulo Canas Rodrigues </li> 
				<li>Jalmar Carrasco </li>
				</ul>
				<br>
				All papers submitted must meet the publication standards of the journal Statistics, Optimization & Information 
				Computing <a href="http://www.iapress.org/index.php/soic" target=_blank>(http://www.iapress.org/index.php/soic)</a> and will be subject to normal refereeing procedure. Authors should use the SOIC template 
				available (available here: <a href="https://www.sugarsync.com/pf/D358196_07941120_0851496" target=_blank>https://www.sugarsync.com/pf/D358196_07941120_0851496)</a> and the papers should be sent to <a href='mailto:paulocanas@gmail.com'> paulocanas@gmail.com </a>. 
				<strong>Please keeping in mind that a Special Issue is not a proceedings paper</strong>. Presenting a paper does not imply publication in a 
				Special Issue. <strong>The deadline for paper submission is January 31, 2020</strong>.

				</p>
			</div>
		</div>
	</div>
	{% endblock %}